<!DOCTYPE html>
<html>
<head>
	<title>WillBlog</title>
</head>
<body>
	<div class="container">
		<%= link_to "Main Page", '/articles' %>
		<div class="article">
			<div class="article_title"> <%= @article.title %> </div>
			<p>
				Tags:
				<%= @article.tags.each do |tag| %>
					<%= link_to tag.name, tag_path(tag) %>
 				<% end %>
			</p>
			<p> 
				<% if @article.image.exists? %>
					<%= image_tag @article.image.url %>
				<% end %>
			 </p>
			<div class="article_body"> <%= @article.body %> </div>
			[<%= link_to "Edit", edit_article_path(@article) %>]
			[<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Would you like to permanently delete this article?"}%>]<br>

		</div>

		<div class="comment_section">
			<%= render partial: 'comments/form' %>
			<h3 style="text-decoration: underline;">Comments (<%= @article.comments.size %>)</h3>
			<%= render partial: 'articles/comment', collection: @article.comments %>
		</div>

	</div>
</body>
</html>